html, body {
	padding: 0px;
	margin: 0px;
	overflow-x: hidden;
}

body {
	word-wrap: break-word;
	font-size: 15px;
	letter-spacing: 1px;
	line-height: 165%;
	color: #111111;
}

.body-content{
    box-pack: justify;
    text-justify: inter-ideograph;
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
	color: #010101;
}

table {
	overflow: hidden;
	max-width: 100%;
	border: 1px solid #CFCDD3;
	border-collapse: none;
	background: #f8f8f8;
	font-size: 0.8em;
	margin-right: 1px;
}

img {
	max-width: 100%;
	margin: 4px 0;
	background: #fefefe;
	border: none;
	box-shadow: none;
}

pre {
	margin-top: 1px;
	margin-bottom: 1px;
	font-size: 0.8em;
	font-family: monaco, Consolas, 'Liberation Mono', Courier, monospace;
	border: none;
	border-left: 2px solid #CFCDD3;
	background: #f8f8f8;
	padding: 8px 6px 6px 6px;
	line-height: 140%;
	overflow: auto;
}

a {
	text-decoration: none;
	color: #24cf5f
}